*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 25px;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 1em 1.25em;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 1.438em;
  right: 1.75em;
  width: 17.5em;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: .938em;
  border: .188em solid #f1f1f1;
  z-index: 9;
}
.form-container {
  max-width: 18.75em;
  padding: .625em;
  background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 93%;
  padding: .938em;
  margin: .313em 0 1.375em 0;
  border: none;
  background: #f1f1f1;
}
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 1em 1.25em;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: .625em;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.form-name {
  padding-bottom: .625em;
  text-align: center;
}
footer {
    text-align: center;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #58B9F7;
}
footer li {
    display: inline;
}
footer li p {
    display: inline-block;
    color: red;
    text-align: center;
    padding: 1.25em 1.563em;
    text-decoration: none;
    font-family: "Fugaz One", cursive;
}
footer li p:hover {
    background-color: #58B9F7;
}
header {
  text-decoration: none;
  font-family: "Fugaz One", cursive;
  color: red;
  background-color: #58B9F7;  
  width: 100%;
  padding: 1.563em .625em;
}
main {
  text-align: center;
  width: 80%;
  padding: .313em .625em;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}
body {
  font-family: Arial;
  color: gray;
}
section {
  width: 80%;
  padding: .313em .625em;
  padding-bottom: .625em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
html {
  background-color: white;
}
figure li {
  display: inline;
  text-align: center;
}
